     #banner.banner
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
           .carousel-inner
              .carousel-item.active
                 img.d-block.w-100(src='assets/img/banner-1.jpg', alt='banner')
                 .carousel-caption.banner-slider-inner.d-flex.h-100.text-center
                    .carousel-content.container
                       .t-center
                          h1(data-animation='animated fadeInDown delay-05s') Quick. Secured. Reliable. Finance.
                          p(data-animation='animated fadeInUp delay-10s')
                             | Sell Your Invoice Now and Get Cash When You Need It!
                          a.btn.btn-lg.btn-round.btn-theme(data-animation='animated fadeInUp delay-10s', href='#') Get Started
                          a.btn.btn-lg.btn-round.btn-white-lg-outline(data-animation='animated fadeInUp delay-10s', href='#') More
              .carousel-item
                 img.d-block.w-100(src='assets/img/banner-2.jpg', alt='banner')
                 .carousel-caption.banner-slider-inner.d-flex.h-100.text-center
                    .carousel-content.container
                       .t-right
                          h1(data-animation='animated fadeInDown delay-05s') No Need to Wait 30 days or More.
                          p(data-animation='animated fadeInUp delay-10s')
                             | Sell Your Invoice and Get Cash When You Need It!
                          a.btn.btn-lg.btn-round.btn-theme(data-animation='animated fadeInUp delay-10s', href='#') Get Started
                          a.btn.btn-lg.btn-round.btn-white-lg-outline(data-animation='animated fadeInUp delay-10s', href='#') More
              .carousel-item
                 img.d-block.w-100(src='assets/img/banner-2.jpg', alt='banner')
                 .carousel-caption.banner-slider-inner.d-flex.h-100.text-center
                    .carousel-content.container
                       .t-right
                          h1(data-animation='animated fadeInDown delay-05s') Get Cash to Grow Your Business Now! 
                          p(data-animation='animated fadeInUp delay-10s')
                             | Sell Your Invoice, Get Cash When You Need It!
                          a.btn.btn-lg.btn-round.btn-theme(data-animation='animated fadeInUp delay-10s', href='#') Get Started
                          a.btn.btn-lg.btn-round.btn-white-lg-outline(data-animation='animated fadeInUp delay-10s', href='#') More
           a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.slider-mover-left(aria-hidden='true')
                 i.fa.fa-angle-left
           a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
              span.slider-mover-right(aria-hidden='true')
                 i.fa.fa-angle-right     
