<% if(messages.errors){ %>
 <% console.log(messages.errors,'console log')%>
   <% for(error in messages.errors){  %>
    <div class="alert alert-danger">
     <p> <%= messages.errors[error].msg %></p>
     
    </div>
    <%  } %>
   <%  } %>
   <% if(messages.success){ %>
    
     <%  for (success in messages.success){ %>
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= messages.success[success].msg %>
   </div>
   <%  } %>
   <%} %>