// Google Tag Manager (noscript)
noscript
   iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z', height='0', width='0', style='display:none;visibility:hidden')
// End Google Tag Manager (noscript)
.page_loader
// main header start
header#main-header-2.main-header.sticky-header
   .container
      .row
         .col-12
            nav.navbar.navbar-expand-lg.navbar-light.rounded
               a.navbar-brand.logo.navbar-brand.d-flex.mr-auto(href='index.html')
                  img(src='assets/img/logos/black-logo.png', alt='logo')
               button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
                  span.fa.fa-bars
               #navbar.navbar-collapse.collapse.w-100
                  ul.navbar-nav.ml-auto
                     li.nav-item.dropdown.active
                        a#navbarDropdownMenuLink.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                           | Home
                     li.nav-item.dropdown.megamenu-li
                        a#dropdown01.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') About
                     li.nav-item.dropdown
                        a#navbarDropdownMenuLink5.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                           | Blog
                     li.nav-item.dropdown
                        a#navbarDropdown4.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                           | FAQ
                     li.nav-item.dropdown
                        a#navbarDropdown3.nav-link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                           | Contact
                     li.nav-item.dropdown
                        a.btn.btn-sm.btn-white-sm-outline.btn-round.signup-link(href='#') Login
                        a.btn.btn-sm.btn-theme.btn-round.signup-link(href='#') Signup
// main header end
