<body id="top">
   
   
   <!-- main header start -->
   <header class="main-header sticky-header" id="main-header-2">
       <div class="container">
           <div class="row">
               <div class="col-12">
                   <nav class="navbar navbar-expand-lg navbar-light rounded">
                       <a class="navbar-brand logo navbar-brand d-flex mr-auto" href="/">
                           <img src="/assets/img/logos/black-logo.png" alt="logo"> 
                       </a>
                       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="fa fa-bars"></span>
                       </button>
                       <div class="navbar-collapse collapse w-100" id="navbar">
                           <ul class="navbar-nav ml-auto">
                               <li class="nav-item dropdown active">
                                   <a class="nav-link" href="/" id="navbarDropdownMenuLink"  aria-haspopup="true" aria-expanded="false">
                                       Home
                                   </a>
   
                               </li>
   
                               <li class="nav-item dropdown megamenu-li">
                                   <a class="nav-link" href="/about" id="dropdown01"  aria-haspopup="true" aria-expanded="false">About</a>
                                  
                               </li>
                               <li class="nav-item dropdown">
                                   <a class="nav-link" href="#" id="navbarDropdownMenuLink5"  aria-haspopup="true" aria-expanded="false">
                                       Blog
                                   </a>
                                   
                               </li>
                               <li class="nav-item dropdown">
                                   <a class="nav-link" href="/faq" id="navbarDropdown4" role="button"  aria-haspopup="true" aria-expanded="false">
                                       FAQ
                                   </a>
   
                               </li>
                               <li class="nav-item dropdown">
                                   <a class="nav-link" href="/contact" id="navbarDropdown3" role="button"  aria-haspopup="true" aria-expanded="false">
                                       Contact
                                   </a>
   
                               </li>
                               <li class="nav-item dropdown">
                                   <a class="btn btn-sm btn-white-sm-outline btn-round signup-link" href="/login">Login</a>
                                   <a class="btn btn-sm btn-theme btn-round signup-link" href="/signup">Signup</a>
                               </li>
                           </ul>
                       </div>
                   </nav>
               </div>
           </div>
       </div>
   </header>
   