
<% include ./partials/head %>
<% include ./partials/header %>

<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>About Us </h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">About Us </li>
            </ul>
        </div>
    </div>
</div>
<div class="about-us content-area-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="properties-service-v">
                    <iframe src="https://www.youtube.com/watch?v=l9Mkl6FL3fM"></iframe>
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="about-text">
                    <h3>Welcome to QUIFACT</h3>
                    <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                        2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                        3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                        4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                        5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                        6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                        7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                        
                    </p>
                    <a href="#" class="btn btn-sm btn-border">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>