
<% include ./partials/head %>
<% include ./partials/header %>
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Faq</h1>
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li class="active">Faq</li>
            </ul>
        </div>
    </div>
</div>
<div class="faq content-area-7">
    <div class="container">
        <div class="main-title">
            <h1>Frequently Asked Questions </h1>
            <p>Here is a list frequently asked question. Click on the topics for details</p>
        </div>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div id="faq" class="faq-accordion">
                    <div class="card m-b-0">
                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse1">
                                What do you mean by Invoice Discounting?
                            </a>
                        </div>
                        <div id="collapse1" class="card-block collapse">
                            <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                                2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                                3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                                4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                                5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                                6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                                7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                                </p>
                            <hr>
                            <span class="answer-helpful">Was this answer helpful?  <a href="#" class="yes"><i class="fa fa-thumbs-o-up"></i></a> <a href="#" class="no"><i class="fa fa-thumbs-o-down"></i></a></span>
                        </div>

                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse2">
                                How do I get my invoice to QUIFACT
                            </a>
                        </div>
                        <div id="collapse2" class="card-block collapse">
                            <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                                2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                                3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                                4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                                5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                                6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                                7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                                </p>
                            <hr>
                            <span class="answer-helpful">Was this answer helpful?  <a href="#" class="yes"><i class="fa fa-thumbs-o-up"></i></a> <a href="#" class="no"><i class="fa fa-thumbs-o-down"></i></a></span>
                        </div>

                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse3">
                                How does it work
                            </a>
                        </div>
                        <div id="collapse3" class="card-block collapse">
                            <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                                2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                                3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                                4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                                5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                                6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                                7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                                </p>
                            <hr>
                            <span class="answer-helpful">Was this answer helpful?  <a href="#" class="yes"><i class="fa fa-thumbs-o-up"></i></a> <a href="#" class="no"><i class="fa fa-thumbs-o-down"></i></a></span>
                        </div>

                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse4">
                               And some other Questions
                            </a>
                        </div>
                        <div id="collapse4" class="card-block collapse">
                            <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                                2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                                3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                                4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                                5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                                6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                                7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                                </p>
                            <hr>
                            <span class="answer-helpful">Was this answer helpful?  <a href="#" class="yes"><i class="fa fa-thumbs-o-up"></i></a> <a href="#" class="no"><i class="fa fa-thumbs-o-down"></i></a></span>
                        </div>

                        <div class="card-header">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse5">
                               Another set of some other Questions
                            </a>
                        </div>
                        <div id="collapse5" class="card-block collapse">
                            <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                                2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                                3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                                4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                                5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                                6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                                7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                                </p>
                            <hr>
                            <span class="answer-helpful">Was this answer helpful?  <a href="#" class="yes"><i class="fa fa-thumbs-o-up"></i></a> <a href="#" class="no"><i class="fa fa-thumbs-o-down"></i></a></span>
                        </div>

                        <div class="card-header border-0">
                            <a class="card-title collapsed" data-toggle="collapse" data-parent="#faq" href="#collapse6">
                                A big set of other Questions
                            </a>
                        </div>
                        <div id="collapse6" class="card-block collapse">
                            <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate <br>
                                2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning <br>
                                3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. <br>
                                4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. <br>
                                5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). <br>
                                6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. <br>
                                7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. <br>
                                </p>
                            <hr>
                            <span class="answer-helpful">Was this answer helpful?  <a href="#" class="yes"><i class="fa fa-thumbs-o-up"></i></a> <a href="#" class="no"><i class="fa fa-thumbs-o-down"></i></a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>