<% include ./partials/head %>
<% include ./partials/header %>

<!-- Banner start -->
<div class="banner" id="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src="assets/img/banner-1.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                  <div class="carousel-content container">
                      <div class="t-center">
                          <h1 data-animation="animated fadeInDown delay-05s">Quick. Secured. Reliable. Finance.</h1>
                          <p data-animation="animated fadeInUp delay-10s">
                              Sell Your Invoice Now and Get Cash When You Need It!
                          </p>
                          <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-theme">Get Started</a>
                          <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-white-lg-outline">More</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/banner-2.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                  <div class="carousel-content container">
                      <div class="t-right">
                          <h1 data-animation="animated fadeInDown delay-05s">No Need to Wait 30 days or More.</h1>
                          <p data-animation="animated fadeInUp delay-10s">
                              Sell Your Invoice and Get Cash When You Need It!
                          </p>    
                          <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-theme">Get Started</a>
                          <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-white-lg-outline">More</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="assets/img/banner-2.jpg" alt="banner">
              <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                  <div class="carousel-content container">
                      <div class="t-right">
                          <h1 data-animation="animated fadeInDown delay-05s">Get Cash to Grow Your Business Now! </h1>
                          <p data-animation="animated fadeInUp delay-10s">
                              Sell Your Invoice, Get Cash When You Need It!
                          </p>    
                          <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-theme">Get Started</a>
                          <a data-animation="animated fadeInUp delay-10s" href="#" class="btn btn-lg btn-round btn-white-lg-outline">More</a>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="slider-mover-left" aria-hidden="true">
              <i class="fa fa-angle-left"></i>
          </span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="slider-mover-right" aria-hidden="true">
              <i class="fa fa-angle-right"></i>
          </span>
      </a>
  </div>
</div>
<!-- banner end -->

<!-- About us start -->
<div class="about-us content-area-7">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="properties-service-v">
                  <img src="assets/img/logos/black-logo.png"  />
              </div>
          </div>
          <div class="col-lg-6 align-self-center">
              <div class="about-text">
                  <h3>QUIFACT: How it works</h3>
                  <p>1.	A Seller uploads the invoice issued to him/her on the platform after completing the contractual agreement with the Buyer/Corporate </br>
                      2.	It then goes to the Buyer for acceptance. Once the buyer accepts/acknowledge to know/issue the invoice to the seller, the invoice becomes a factoring unit and gets cleared for auctioning </br>
                      3.	The factoring unit then goes to auction/bidding page where it will now be visible to the Financiers on the platform. </br>
                      4.	The Financiers (who will appear as anonymous to the Buyers and Sellers) then enter their discounting rate/bid price for the invoice listed. </br>
                      5.	The Seller then has the liberty to choose from the list the preferred bidder for the invoice (usually the lowest bidder in terms of discount rate wins). </br>
                      6.	Quifact then settles the trade by debiting the Financier and paying the Seller (all within 24 hours). The Financier is expected to have fund their account with Quifact’s receiving agent which will be a local commercial bank in Nigeria. </br>
                      7.	The second leg of the settlement is when the Buyer/Corporate makes the repayment and the amount is repaid to the financier. </br>
                      
                  </p>

                  <a href="#" class="btn btn-sm btn-border">Read More</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About us end -->

<!-- services start -->
<div class="services content-area-2 bg-white">
  <div class="container">
     
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="services-info-2">
                  <i class="flaticon-user"></i>
                  <h5> Seller (Vendor)</h5>
                  <p>
                     
                      a.	Improved Cash Flows: Quifacts helps you access your working capital in time by selling your invoice </br>
                      b.	Competitive Interest Rates: Quifact allows access multiple financiers at one place, thus ensuring you get the best rates for your invoice</br>
                      c.	Reduced cost of financing by leveraging your buyer’s credit profile</p> </br>
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6">
              <div class="services-info-2">
                  <i class="flaticon-hotel-building"></i>
                  <h5>Buyer</h5>
              <p>
                  a.	Enhanced Procurement: Empowering your sellers to receive quick payments enhances your procurement process and enables you to get better procurement terms </br>
                  b.	Streamlined Vendor Payments: Quifact assist you to settles all your vendor payment transactions seamlessly. Eliminates the need to manage multiple vendor payments
                  c.	Flexible Payment Terms: Quifact enables you to better manage your payables via flexible repayment terms
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 d-none d-md-block d-lg-block">
              <div class="services-info-2">
                  <i class="flaticon-money-bag-with-dollar-symbol"></i>
                  <h5>Financier</h5>
              <p> a.  Low Default Risk: Buyers (corporates) on Quifact have high credit ratings with very low risk of default
                  b.  Easy Reconciliation: Quifact allows you to easily reconcile accounts via daily customized reports
                  c.	Quifact provides you access to top quality corporates and their SME suppliers on a single platform
              </p>
              
              </div>
          </div>
      </div>
  </div>
</div>
<!-- services end -->

<!-- intro section start -->
<div class="intro-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="intro-text">
                  <h3>Are You Looking To Sell Your Invoice?</h3>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12">
              <a href="#" class="btn btn-md sn">Submit Now</a>
          </div>
      </div>
  </div>
</div>
<!-- intro section end -->


<!-- partner start -->
<div class="container partner">
  <div class="main-title">
      <h1>Partners</h1>
  </div>
  <div class="row">
      <div class="multi-carousel" data-items="1,3,5,6" data-slide="1" id="multiCarousel"  data-interval="1000">
          <div class="multi-carousel-inner">
              <div class="item">
                  <div class="pad15">
                      <p class="lead">Zenith Bank</p>
                      <img src="assets/img/brands/brand-1.png" alt="brand">
                  </div>
              </div>
              
              <div class="item">
                  <div class="pad15">
                      <p class="lead">Greenwich Capital</p>
                      <img src="assets/img/brands/brand-3.png" alt="brand">
                  </div>
              </div>
              <div class="item">
                  <div class="pad15">
                      <p class="lead">First Bank</p>
                      <img src="assets/img/brands/brand-4.png" alt="brand">
                  </div>
              </div>
              <div class="item">
                  <div class="pad15">
                      <p class="lead">Fidelity</p>
                      <img src="assets/img/brands/brand-5.png" alt="brand">
                  </div>
              </div>
              <div class="item">
                  <div class="pad15">
                      <p class="lead">Vetiva Capital</p>
                      <img src="assets/img/brands/brand-6.png" alt="brand">
                  </div>
              </div>
              <div class="item">
                  <div class="pad15">
                      <p class="lead">FMDQ</p>
                      <img src="assets/img/brands/brand-2.png" alt="brand">
                  </div>
              </div>
              
          </div>
          <a class="multi-carousel-indicator leftLst" aria-hidden="true">
              <i class="fa fa-angle-left"></i>
          </a>
          <a class="multi-carousel-indicator rightLst" aria-hidden="true">
              <i class="fa fa-angle-right"></i>
          </a>
      </div>
  </div>
</div>
<!-- partner end -->

<% include ./partials/footer %>