<% include ./partials/head %>
<% include ./partials/header %>
<div class="sub-banner overview-bgi">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Submit Invoice</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Submit Invoice</li>
            </ul>
        </div>
    </div>
</div>
<div class="user-page submit-property content-area-7">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="notification-box mb-60">
                    <h3>Don't Have an Account?</h3>
                    <p>Please click here <a href="/signup"> Sign Up Now</a></p><a href="/signup">
                </a></div><a href="/signup">

                </a><div class="search-area contact-2"><a href="/invoice">
                    </a><div class="search-area-inner"><a href="">
                        </a><div class="search-contents "><a href="/invoice">
                            </a><form method="GET"><a href="">
                                <h3 class="heading">Invoice Details</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Company Name</label>
                                            <input type="text" name="property-title" class="form-control" placeholder="Company Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Registration Number</label>
                                            <input type="text" name="RC-Number" class="form-control" placeholder="RC Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" name="Address" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Total Value of Invoice</label>
                                            <input type="text" name="price" class="form-control" placeholder="Amount">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                            <label>Invoice Date</label>
                                            <input type="text" name="date" class="form-control" placeholder="Invoice Date">
 
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6">
                                        <div class="form-group">
                                                <label>Amount in words</label>
                                                <input type="text" name="date" class="form-control" placeholder="Amount">
     
                                           
                                        </div>
                                    </div>
                                </div>

                                <h3 class="heading">Upload Invoice here. </h3>
                                <div class="row mb-60">
                                    <div class="col-lg-12">
                                        <div id="myDropZone" class="dropzone dropzone-design dz-clickable">
                                            <div class="dz-default dz-message"><span>Drop files here to upload PDF, JPG, JPEG only</span></div>
                                        </div>
                                    </div>
                                </div>

                                <h3 class="heading">Issuer Details</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input type="text" name="address" class="form-control" placeholder="Address">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            <label>Contact person</label>
                                            <input type="text" name="contact-person" class="form-control" placeholder="contact Person">
                                        </div>
                                    </div>
                                </div>

                                <h3 class="heading">Invoice Details</h3>
                                <div class="row mb-50">
                                    <div class="col-lg-12">
                                        <div class="form-group message">
                                            <label>Detailed Information</label>
                                            <textarea class="form-control" name="message" placeholder="Detailed Information"></textarea>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                                <script>
                                function NotAvailable(){
                                    alert('Not Available');
                                }
                                </script>

                                    </a><div class="col-lg-12"><a href="">
                                        </a><a href="#" onclick="NotAvailable()"class="btn btn-md btn-color">Preview and Submit</a>
                                    </div>
                                </form></div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<% include ./partials/footer %>